<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
    <action id="org.freedesktop.policykit.pkexec.gui">

    	<description>Run WoeUSB</description>
        <description xml:lang="pl">Uruchomienie programu WoeUSB jako administrator</description>

    	<message>Authentication is required to run the WoeUSB</message>
        <message xml:lang="pl">Wymagane jest uwierzytelnienie, aby uruchomić WoeUSB jako administrator</message>

    <defaults>
        <allow_any>auth_admin</allow_any>
        <allow_inactive>auth_admin</allow_inactive>
        <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/files/Workspace/c++/WoeUSB/src/dist/gui</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
    </action>
</policyconfig>
