///File : rc.rc
//------------------------------------------------------------------------------
/*
    This file is part of c501WakeOnLan.

    c501WakeOnLan is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    c501WakeOnLan is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with c501WakeOnLan.  If not, see <http://www.gnu.org/licenses/>.
*/
//------------------------------------------------------------------------------
#include "wx/msw/wx.rc"

1 24 "win32/winProg.manifest"

win32icon ICON "win32/icon.ico"
